import { ComponentMeta, ComponentStory } from '@storybook/react';
import React, { FC } from 'react';
import { {{pascalCase name}}, {{pascalCase name}}Props } from './{{pascalCase name}}';

// Includes SectionProps which includes themeName prop
type Component = FC<{{pascalCase name}}Props>;

export default {
  title: '{{pascalCase name}}',
  component: {{pascalCase name}},
} as ComponentMeta<Component>;

const Template: ComponentStory<Component> = (args) => (
    <div>
      <{{pascalCase name}} {...args} />
    </div>
);

export const Primary = Template.bind({});
Primary.args = {};
